@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<!DOCTYPE HTML>
<html>
<head>
<title>Free Spicy-Foods Website Template | Home :: w3layouts</title>
<link href="~/content/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href='http://fonts.googleapis.com/css?family=Patua+One' rel='stylesheet' type='text/css'>
<!--slider-->
<link rel="stylesheet" href="~/content/flexslider.css" type="text/css" media="all" />
<script src="~/Script/modernizr.js"></script>
<!-- jQuery -->
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="~/Script/libs/jquery-1.7.min.js">\x3C/script>')</script>
  <!-- FlexSlider -->
  <script defer src="~/Script/jquery.flexslider.js"></script>
  <script type="text/javascript">
    $(function(){
      SyntaxHighlighter.all();
    });
    $(window).load(function(){
      $('.flexslider').flexslider({
        animation: "slide",
        start: function(slider){
          $('body').removeClass('loading');
        }
      });
    });
  </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $(".fancybox").fancybox();
        });
    </script>
</head>
<body>
<div class="wrap"> 
	<div class="total">
		<div class="banner">
			<div class="flexslider">
	          <ul class="slides">
	            <li><img src="~/images/banner1.jpg" alt=""/></li>
	  	    	<li><img src="~/images/banner2.jpg"  alt=""/></li>
	  	    	<li><img src="~/images/banner3.jpg"  alt=""/></li>
	  	    	<li><img src="~/images/banner4.jpg"  alt=""/></li>
	          </ul>
	        </div>
	      <div class="flex-caption">								
	      		<h2><a href="">Fast Food Seasonings</a></h2>
				<div class="clear"></div> 
       	  </div>
 		</div>
   <div class="main">
   		<div class="content-top">
				<div class="col_1_of_5 span_1_of_5">
					<div class="hover_img">
						<img src="~/images/pic.jpg" alt=""/>
					</div>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<div class="hover_img">
						<img src="~/images/pic1.jpg" alt=""/>
					</div>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<div class="hover_img">
						<img src="~/images/pic2.jpg" alt=""/>
					</div>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<div class="hover_img">
						<img src="~/images/pic3.jpg" alt=""/>
					</div>
				</div>
				<div class="col_1_of_last span_1_of_5">
					<h3><span class="red">Our Four</span><br><span class="black"> Food Types</span></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
				</div>
				<div class="clear"></div> 
		</div>

       <div>
           <a class="fancybox" rel="group" href="big_image_1.jpg">
               <img src="~/Images/c1.jpg" alt="" /></a>
           <a class="fancybox" rel="group" href="big_image_2.jpg">
               <img src="~/Images/c2.jpg" alt="" /></a>
       </div>

		
		 
		
   		</div>
	</div>
</div>
<div class="footer-bottom">
 	<div class="wrap">
 		<div class="copy">
			<p> © 2013 All rights Reserved | Design by <a href="http://w3layouts.com">W3Layouts</a></p>
		</div>
 	</div>
 </div>
</body>
</html>

    	
    	

