<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->





<body>
<div class="wrap"> 
	<div class="total">
		
			
		<div class="banner">
			<div class="flexslider">
	          <ul class="slides">
	            <li><img src="~/Images/banner1.jpg" alt=""/></li>
	  	    	<li><img src="~/Images/banner2.jpg"  alt=""/></li>
	  	    	<li><img src="~/Images/banner3.jpg"  alt=""/></li>
	  	    	<li><img src="~/Images/banner4.jpg"  alt=""/></li>
	          </ul>
	        </div>
	      <div class="flex-caption">								
	      		<h2><a href="">Fast Food Seasonings</a></h2>
				<div class="clear"></div> 
       	  </div>
 		</div>
   <div class="main">
   		<div class="content-top">
				<div class="col_1_of_5 span_1_of_5">
					<div class="hover_img">
						<img src="~/Images/pic.jpg" alt=""/>
					</div>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<div class="hover_img">
						<img src="~/Images/pic1.jpg" alt=""/>
					</div>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<div class="hover_img">
						<img src="~/Images/pic2.jpg" alt=""/>
					</div>
				</div>
				<div class="col_1_of_5 span_1_of_5">
					<div class="hover_img">
						<img src="~/Images/pic3.jpg" alt=""/>
					</div>
				</div>
				<div class="col_1_of_last span_1_of_5">
					<h3><span class="red">Our Four</span><br><span class="black"> Food Types</span></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad.</p>
				</div>
				<div class="clear"></div> 
		</div>
		<div class="content-middle">
				<div class="col_1_of_2 span_1_of_2">
				   <h3><span class="red">Lorem ipsum </span><br><span class="black">consectetuer</span></h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<button class="btn1 btn-8 btn-8a">Read More</button>
 				</div>
				<div class="col_1_of_2 span_1_of_2">
					<div class="grid_img">
			       		 <div class="hover_img">
								<img src="~/Images/pic4.jpg" alt=""/>
						</div>
					</div>
					<div class="banner2">
		                <a href="#">
		                    <div class="price">$50</div>
		                    <strong>Free Shipping</strong>
		                    *eiusmod tempor incididunt ut labore
		                </a>
	      			</div>
				</div>
				<div class="clear"></div> 
		 </div>
		 <div class="content-bottom">
				<div class="col_1_of_3 span_1_of_3">
					<img src="~/Images/pic5.jpg" alt=""/>
					<div class="bottom-head"><h5>Lorem ipsum dolor sit amet, consectetuer</h5></div>
					<div class="but">
					   <button class="btn1 btn-8 btn-8a">Read More</button>
					</div>
				</div>
				<div class="col_1_of_3 span_1_of_3">
					<img src="~/Images/pic6.jpg" alt=""/>
					<div class="bottom-head"><h5>Lorem ipsum dolor sit amet, consectetuer</h5></div>
					<div class="but">
					   <button class="btn1 btn-8 btn-8a">Read More</button>
					</div>
				</div>
				<div class="col_1_of_3 span_1_of_3">
					<img src="~/Images/pic7.jpg" alt=""/>
					<div class="bottom-head"><h5>Lorem ipsum dolor sit amet, consectetuer</h5></div>
					<div class="but">
					   <button class="btn1 btn-8 btn-8a">Read More</button>
					</div>
				</div>
				<div class="clear"></div> 
		</div>
		<div class="content-last">
				<div class="col_1_of_4 span_1_of_4">
					<img src="~/Images/glass.png" alt=""/>
					<h3>Lorem Ipsum is simply</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<button class="btn1 btn-8 btn-8a">Read More</button>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<img src="~/Images/plate.png" alt=""/>
					<h3>Lorem Ipsum is simply</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<button class="btn1 btn-8 btn-8a">Read More</button>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<img src="~/Images/icecream.png" alt=""/>
					<h3>Lorem Ipsum is simply</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<button class="btn1 btn-8 btn-8a">Read More</button>
				</div>
				<div class="col_1_of_4 span_1_of_4">
					<img src="~/Images/leaf.png" alt=""/>
					<h3>Lorem Ipsum is simply</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
					<button class="btn1 btn-8 btn-8a">Read More</button>
				</div>
				<div class="clear"></div> 
			</div>
   		</div>
	</div>
</div>
<div class="footer-bottom">
 	<div class="wrap">
 		<div class="copy">
			<p> © 2013 All rights Reserved | Design by <a href="http://w3layouts.com">W3Layouts</a></p>
		</div>
 	</div>
 </div>
</body>
</html>

    	
    	
            